{% extends "template.html" %}
{% block content %}

<main role="main" class="container">

  <div class="starter-template">
    <h1>Envio de Emails</h1>
    <form action="criar" method="post">
        <fieldset>
          <div class="container">
            <div class="form-group">
              <label for="emailenvio">Email de Envio</label>
              <textarea class="form-control" id="emailenvio" name="emailenvio" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="emailentrega">Email para entrega</label>
              <textarea class="form-control" id="emailentrega" name="emailentrega" rows="3"></textarea>
          </div>
            <div class="form-group">
              <label for="assunto">Assunto</label>
              <input type="text" id="assunto" name="assunto" class="form-control">
            </div>
           <div class="form-group">
            <label for="mensagem">Mensagem</label>
              <textarea class="form-control" id="mensagem" name="mensagem" rows="3"></textarea></div>
            <button type="submit" class="btn btn-primary btn-salvar">Enviar</button>
          </div>

        </fieldset>
      </form>
  </div>
</main>
{% endblock %}
